<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lqwit.android.account">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="org.lqwit.android.global.base.AppBaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name="org.lqwit.android.fundflow.KeepAnAccountActivity" />
        <activity android:name="org.lqwit.android.other.budget.SetBudgetActivity" />
        <activity android:name="org.lqwit.android.other.setting.SettingActivity" />
        <activity android:name="org.lqwit.android.type.manager.TypeManagerActivity" />
        <activity android:name="org.lqwit.android.other.feedback.QuestionFeedBackActivity" />
        <activity android:name="org.lqwit.android.other.login.LoginActivity" />
        <activity android:name="org.lqwit.android.other.info.UserProfileActivity" />
        <activity android:name="org.lqwit.android.other.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".fundflowdetail.FundFlowDetailActivity" />
        <activity android:name=".detail.AccountDetailActivity" />
        <activity android:name="org.lqwit.android.other.about.AboutAppActivity" />
        <activity android:name="org.lqwit.android.type.add.AddEditTypeActivity" />
        <activity android:name="org.lqwit.android.other.mine.MineActivity" />
        <activity android:name=".list.AccountListActivity" />
        <activity android:name=".add.AddAccountActivity"></activity>
    </application>

</manifest>